@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

body{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #121214;
  color: #e1e1e6;
}

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #202024;
    padding: 20px 60px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .logo {
      color: #e1e1e6;
      font-weight: bold;
      font-size: 1.5rem;

      @include tablet {
        display: none;
      }
    }

    .title {
      color: #e1e1e6;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: .75rem 1rem;
        border: none;
        width: 250px;
        color: #FFF;
        background: transparent;
        border-bottom: 1px solid #7c7c8a;

        &::placeholder {
          color: #7c7c8a;
        }

        &:focus{
          outline: none;
        }
      }

      img {
        max-width: 40px;
        cursor: pointer;
      }

      img:active {
        transform: scale(1.1);
      }

      label {
        display: flex;
        align-items: center;
        color: #7b96ec;
        cursor: pointer;
        gap: 10px;
        font-size: 12px;
      }

      button {
        background-color: #7b96ec;
        color: #ffffff;
        padding: 0.75rem;
        height: 46px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: filter 0.2s;

        &:hover{
          filter: brightness(0.8);
        }
      }
    }

    p {
      color: #7c7c8a;
      font-size: 0.75rem;
      margin-top: 10px;

      a{
        color: #5d5b8d;
      }
    }
  }
}

.home {
  background-color: #121214;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border-radius: 8px;
    width: 100%;
    max-width: 59rem;
    height: 100%;
    max-height: 37.5rem;

    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
      position: absolute;
      bottom: 10px;
    }

    .sidebar {
      flex: 1;
      border-right: 2px solid #29292e;
      background-color: #323238;
      height: 100%;
      position: relative;

      .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202024;
        padding: 1rem;
        gap: 0.75rem;
        color: #ddddf7;

        .content-logo{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          button{
            font-weight: bold;
            padding: .5rem;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: filter 0.2s;
            background-color: #323238;

            &:not(:disabled):hover{
              filter: brightness(0.8);
            }

            &:disabled{
              cursor: not-allowed;

            }
          }
        }

        .user{
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: flex-start;
        }
      }

      img {
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .logo {
        font-weight: bold;
        font-size: 1.5rem;

        @include tablet {
          display: none;
        }
      }

      .user {
        display: flex;
        gap: 0.875rem;
      }

      .search {
        border-bottom: 2px solid gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: #e1e1e6;
            width: 100%;

            &::placeholder {
              color: lightgrey;
            }

            &:focus{
              outline: none;
            }
          }
        }
      }

      .userChat {
        padding: .75rem;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #202024;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          .span {
            font-size: 1rem;
            font-weight: 500;
          }

          p {
            font-size: 0.8rem;
            color: lightgray;
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: #29292e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        color: lightgray;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        i {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 100px);
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 1.25rem;
          margin-bottom: 1.25rem;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 400;
            font-size: .875rem;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: #505059;
              padding: 10px 20px;
              border-radius: 0px 8px 8px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: #121214;
                border-radius: 10px 0px 10px 10px;
                max-width: max-content;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: #ffffff;
        padding: 1rem;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          border: none;
          color: #121214;
          font-size: 1.125rem;

          &::placeholder {
            color: #7c7c8a;
          }

          &:focus{
            outline: none;
          }
        }

        .send {
          display: flex;
          gap: 1rem;
          align-items: center;

          i {
            height: 24px;
            cursor: pointer;
            display: flex;
            color: #7c7c8a;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: #fff;
            background-color: #8da4f1;
          }
        }
      }
    }

    button {
      background-color: #5d5b8d;
      color: #ddddf7;
      font-size: .75rem;
      font-weight: bold;
      border-radius: 6px;
      padding: 5px;
      cursor: pointer;
      transition: filter 0.2s;

      &:not(:disabled):hover{
        filter: brightness(0.8)
      }
    }

    button:active {
      transform: scale(1.1);
    }
  }
}